/* Setup*/
.page{
    margin: 0;
    padding: 0;
    font-size: 10px;
    background-color: #b3b3b3;
}
  
.wrapper{
    background-color: #b3b3b3;
}
/*typography*/
.name{
    font-family: 'Bebas Neue';
    font-size: 4rem;
    color:#ffffff;
}

.caption{
    font-family: 'Source Sans Pro';
    font-size: medium;
}

.roles{
    font-family: 'Source Sans Pro';
    font-size: small;

}
.jobtitle{
    font-size: large;
    font-weight: 700;
}
.sectiontitle{
    font-size: xx-large;
    font-weight: 900;
}

/* Header*/
.header{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background-color: #bb0a30;
    flex: 1 100%;
    align-items: center;
  }

.name{
    font-size: 40px;
    font-weight: 900;
    margin-left: 20px;

}
.umdlogo{
    min-width: 200px;
    min-height: 67px;
    max-width: 30%;
    max-height: 99px;
    margin-right: 20px;
}
/*main content*/
.profile{
    display: flex;
    max-width: 33%;
    min-width: 200px; 
    flex-flow: column wrap;
    margin-right: 7px;
}
.image{
   max-width: 100%; 
   height: auto;
   border: 1px solid black;
   border-radius: 4px;
}
.caption{
    background-color: #ffffff;
    padding: 5px;
}
.roles{
    min-width: 66%;
    background-color: #ffffff;
    padding: 1px;
}
/*main layout*/
.wrapper{
    display:flex;
    justify-content:center;
    flex: 1 100%;
    padding-top: 15px;
}
.content{
    display:flex;
    max-width:960px;
    flex-flow: row wrap;
    justify-content:center;
}

/*breakpoint*/
@media only screen and (max-width: 1000px) {
    .wrapper{
        justify-content:center;
    }
    .profile{
        display: flex;
        max-width: 66%;
        flex-flow: row;
        justify-content: space-evenly;
        margin-bottom: 10px;
    }
    .image{
        width: 45%;
        height: auto;
    }
    .caption{
        margin-left: 10px;
        align-self: center;
    }
  }